@model List<CoreDBFirst.Models.Category>
@{
    ViewData["Title"] = "Home Page";
}
<div class="">
    <a class="btn btn-primary" asp-action="View Categories">View Categories</a>
</div>
<br/>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Name Category</th>
                <th>Discription</th>

                <th colspan="2">Option</th>
            </tr>
        </thead>
        <tbody id="Table_data">
            @{ 
                foreach (var row in Model)
                { 
                        <tr>
                            <td>@row.NameCategory</td>
                            <td>@row.Discription</td>
                           
                            <td><a class="btn btn-primary" asp-action="UpdateCategory" asp-controller="Home" asp-route-Id=@row.NameCategory>Edit Category</a></td>
                            <td><a class="btn btn-danger" asp-action="Delete" asp-controller="Home" asp-route-Id=@row.Discription>Delete</a></td> 
                        </tr>
                }
            }
        </tbody>
    </table>
</div>